@font-face {
    font-family: zrnic;
    src: url(/assets/fonts/zrnic.ttf);
}

/* html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

#map-container, #output-container {
    height: 80vh;
}

.ui-autocomplete {
    z-index: 2000;
    border: 1px solid #ffffff;
    background-color: #121212;
    color: #ffffff;
}

.map-label p {
    white-space: nowrap;
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    text-align: center;
    transform: translateX(-50%);
}

#pageHeader {
    height: 5%;
    width: 100%;
    background-color: #121212;
    border-bottom: 1px solid #FFFFFF;
}

#pageHeader h1 {
    font-family: zrnic;
    margin: 0;
    padding-top: 0.15%;
    text-align: center;
    font-size: 4vh;
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF !important;
}

#titleLabel {
    font-size: 28px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#explv {
    color: #00FF00;
}

#output-container select {
    background: none;
    border: 1px solid #33b5e5;
    color: #FFFFFF;
    max-width: 200px;
}

#output-container option {
    background-color: #121212;
    color: #ffffff;
}

#map {
    width: 100%;
    height: 100%;
    background-color: black;
}

#tooltip {
    position: absolute;
    z-index: 3;
    padding: 5px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    background-color: #121212;
    color: #FFFFFF;
    display: none;
}

#output {
    width: 20vh;
    height: 40vh;
    position: fixed;
    left: 50px;
    top: calc(5% + 8px);
    padding-top: 10px;
    padding-left: 10px;
    z-index: 2;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.65);
    border-radius: 4px;
    background-color: white;
    display: none;
}

input.leaflet-control-custom {
    padding: 5px;
    border-radius: 4px;
}

.leaflet-control-custom form-group, .leaflet-control-zoom-in, .leaflet-control-zoom-out {
    background: none !important;
    color: white !important;
}

.coord {
    width: 70px !important;
    height: auto;
    text-align: center;
    background: none !important;
    color: white;
    border: none;
    border-right: 1px solid white;
    border-radius: 0px;
}

.coord:last-child {
    border: none;
}

#edit-text {
    color: white;
}

.edit-enabled {
    color: #76EE00;
}

.edit-disabled {
    color: red;
}

#output-container {
    padding: 0;
    background-color: #121212;
    border-right: 1px solid #FFFFFF;
}

#output-container .panel-default {
    background-color: #121212;
    border: none;
    height:100%;
}

#output-container .panel-body, #output-container .panel-body pre {
    padding-right: 0;
}

#output-container .panel-body {
    padding: 0 !important;
    height: 70%;
}

#code-output {
    color: #eee8d5;
    outline:none!important;
}

#output-container .panel-heading {
    padding-top: 20px;
    background-color: #121212;
    color: #FFFFFF;
    height: 30%;
}

.slide-panel {
    position:fixed;
    display:none;
    top: 10px;
    right: 80px;
    z-index: 1000;
    height: 210px;
    width: 330px;
    background-color: #121212;
    border-radius: 3px;
    max-height: 210px;
}

#settings-panel {
    justify-content: center;
    align-items: center;
    color:white;
}

#code-output-pre {
    padding: 10px;
    background-color: #121212;
    border: none;
    border-radius: 0;
    margin: 0;
    overflow-y:auto;
    max-height: 210px;
    color: white;
}

#map-container {
    padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    padding: 0;
}

.fa {
    font-size: 16px;
}

.leaflet-control {
    background-color: #121212 !important;
    border: 1px solid white !important;
    color: white !important;
}

.leaflet-control:hover {
    color: #33b5e5 !important;
}

.leaflet-control-custom {
    margin: 0 !important;
    width: 100% !important;
    border: none !important;
    border-radius: 0 0 0 0;
    border-bottom: 1px solid #ccc !important;
    background-color: #fff;
}

.leaflet-control-custom:last-child {
    border: none !important;
}

a.leaflet-control-custom {
    cursor: pointer;
}

a.leaflet-control-custom.active {
    background-color: #33b5e5 !important;
    color: #121212 !important;
}

a.leaflet-control-custom:hover {
    background-color: #33b5e5 !important;
    color: #121212 !important;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
